
@font-face {
    font-family: 'passion';
    src: url('fontes/PassionOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('fontes/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'iracha';
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: iracha, Helvetica, sans-serif;

}

header {
    width: 100%;
    color: white;
    background-color: black;
}

header > h1 {
    width: 100%;
    font-family: passion, normal;
    font-weight: normal;
    text-align: center;
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 10vw;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 50px;
}


header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


header a:hover {
    text-decoration: underline;
}


section {
    padding: 10vh 20px;
}

section p {
    white-space: pre-line;
    line-height: 2em;
    font-size: 3.5vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.181);
}

.branco {
    background-color: #fff;
    padding: 10vh 0px;
    padding-left: 30px;
}

#flor {
    background: #000 url('imagens/background001.jpg') right top no-repeat fixed;
    background-size: cover;
    color: #fff;
    width: 100%;
    padding: 10vw 20px;
}


#livro {
    
    background: #000 url('imagens/background002.jpg') right top no-repeat fixed;
    background-size: cover;
    color: #fff;
    width: 100%;
    padding: 10vw 20px;
}


.bcgd-img {
    display: flex;
    align-items: center;
    min-height: 200px;
    max-height: 800px;
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.156);
}


.bcgd-img > p {
    background-color: rgba(0, 0, 0, 0.452);
    width: 41vw;
    padding: 5px 5px;
}


footer {
    background-color: #000;
    color: #fff;
    padding: 7px;
    text-align: center;
    font-size: 13px;
}
